html,
body {
  height: 100%;
  margin: 0;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title,
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-img {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  object-fit: cover;
  margin: 0 auto; /* Center the image */
  display: block;
}

.detail-text {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.truncate {
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.list-group-item {
  word-wrap: break-word; /* Breaks long words */
  word-break: break-word; /* Ensures words break within the container */
  overflow-wrap: break-word; /* Adds support for breaking words */
  white-space: normal; /* Ensures text wraps */
}
